body{background-color: azure;}
.slider-tas{
    width: 1500px;
    height: 360px;
border: black 5px solid;
margin: 50px auto;
position: relative;
overflow: hidden;


}
.slider-tas ul {
list-style: none;
padding: 0px ;
margin: 0px;


}
.slider-tas ul li {
position: absolute;


}
.slider-tas ul li:nth-of-type(1)
{
    left:0px;
}
.slider-tas ul li:nth-of-type(2)
{
    left:1505px;
}
.slider-tas ul li:nth-of-type(3)
{
    left:3010px;
}
.slider-tas ul li:nth-of-type(4)
{
    left:4515px;
}.slider-tas ul li:nth-of-type(5)
{
    left:6020px;
}
.slider {
position: absolute;
left:0px;
animation-name: slayt;
animation-duration: 10s;
animation-delay: 1s;
animation-direction: alternate;
animation-iteration-count: infinite;

}
.slider:hover
{
    animation-play-state: paused;
}
@keyframes slayt{
    0%{left:0px;}
    10%{left: 0px;}
    20%{left:-1505px;}
    25%{left:-1505px;}
    45%{left: -3010px;}
    50%{left:-3010px;}
    70%{left:-4515px;}
    75%{left:-4515px;}
    80%{left:-6020px;}
    100%{left:-6020px;}
}