
body{
    background-color: 	#ECEFF1;
}
.menu
{
    background-color:	#EFEBE9;
}
.table1
{
    background-color: rgb(112, 135, 197);
}
.arkaplan
 {
background-color: #c6dfd4;
 }

   

 
 .konum2
 {
    margin: 250px 2500px 500px 550px;
   
  
 }
 